@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Inter:wght@400;800&family=Montserrat:wght@500;700&display=swap');


.Home{

    margin-top: -8px;
    margin-left: -8px;

    .img-home{
        margin-left: 50px;
        border-radius: 20px;
        width: 100%;
        max-width: 185px;
    }

    .img-comunicador{
        border-radius: 20px;
        margin-left:110px ;
        width: 100%;
        max-width: 250px;
        transform: scaleX(-1);
    }

    .img-musicos{
        border-radius: 20px;
        width: 100%;
        max-width: 250px;
        margin-left: -5px;
    }

    .img-lite{
        border-radius: 10px;
        width: 100%;
        max-width: 240px;
    }

    .img-cien{
        margin-left: 40px;
        border-radius: 20px;
        margin-top: -20px;
        width: 100%;
        max-width: 200px;
        max-height: 265px;
    }

    .img-es{
        margin-left: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 240px;
    }

    footer{
        margin-bottom: -20px;
    }

    .conteiner-principal{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .conteriner-secundario{
        margin: 0px 60px 125px 60px;
    }
    .conteriner-primario{
        margin: 0px 60px 125px 60px;
    }

    a{
        color: #fff;
        font-family: 'Comfortaa', cursive;
        text-decoration: none;
    }

    h2{
        width: 100%;
        max-width: 210px;
        margin-left: 20px;
        font-style: normal;
        font-weight: 600;
    }

    h3{
        width: 100%;
        max-width: 130px;
        margin-left: 9px;
        font-style: normal;
        font-weight: 600;
    }

    .background-comunic{
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 500px;
        height: 100%;
        min-height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #FF0000;
        background: linear-gradient(90deg, #FF0000 47.33%, #fff 112.38%);
        //background: linear-gradient(180deg, #F8EA6D 0%, #FF5C00 169.04%);
    }

    .background-music{
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 500px;
        height: 100%;
        min-height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #FFD700;
        background: linear-gradient(90deg, #FFD700 47.33%, #fff 112.38%);
        //background: linear-gradient(180deg, #3F3F3F 0%, #777777 143.46%);
    }

    .background-cien{
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 500px;
        height: 100%;
        min-height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #1CF84C;
        background: linear-gradient(90deg, #1CF84C 47.33%, #fff 112.38%);
        //background: linear-gradient(180deg, #8CCCF0 0%, #008000 108.08%);
    }

    .background-espor{
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 500px;
        height: 100%;
        min-height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #0000FF;
        background: linear-gradient(90deg, #0000FF 47.33%, #fff 112.38%);
        //background: linear-gradient(180.02deg, #00803B 10.38%, #0047FF 248.76%);
    }

    .background-reli{
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 500px;
        height: 100%;
        min-height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #009B9B;
        background: linear-gradient(90deg, #009B9B 47.33%, #fff 112.38%);
        //background: linear-gradient(180.02deg, #0000FF -24.01%, #F20000 120.16%);
    }

    .background-ativi{
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 500px;
        height: 100%;
        min-height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #C71FC7;
        background: linear-gradient(90deg, #C71FC7 47.33%, #fff 112.38%);
        //background: linear-gradient(180.77deg, #9D3232 -6.43%, rgba(189, 31, 31, 0.9375) -6.42%, #000000 144.24%)
    }

    .background-poli{
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 500px;
        height: 100%;
        min-height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        background-color: #F6163D;
        background: linear-gradient(90deg, #F6163D 47.33%, #fff 112.38%);
        //background: linear-gradient(180deg, rgba(0, 128, 59, 0.93) 14.8%, rgba(255, 215, 0, 0.93) 124.37%);
    }

    .background-lite{
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 500px;
        height: 100%;
        min-height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #FF6B00;
        background: linear-gradient(90deg, #FF6B00 47.33%, #fff 112.38%);
        //background: linear-gradient(180deg, rgba(157, 50, 50, 0.93) 47.33%, rgba(252, 0, 0, 0.93) 112.38%);
    }


    @media (max-width: 1140px) {
        .conteriner-secundario{
            width: 50%;
            
            height: 75%;
            min-height: 50%;
         }
         .conteriner-primario{
            width: 50%;
            height: 75%;
            min-height: 50%;
         }
        
        .background-lite{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 53%;
            }
        }
        .background-poli{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 50%;
            }
        }
        .background-reli{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 45%;
                max-width: 150% ;
                max-height: 236px;
                margin-left: 2%;
            }
        }
        .background-ativi{
            min-width: 80%;
            min-height: 20%;
            img{
                width: 40%;
            }
        }
        .background-espor{
            min-width: 80%;
            min-height: 20%;
            img{
                width: 59%;
                margin-left: -5%;
            }
        }
        .background-cien{
            min-width: 80%;
            min-height: 4%;
            img{
                width: 43%;
                margin-left: 3%;
            }
        }
        .background-music{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 54%;

            }
        }
        .background-comunic{
            min-width: 90%;
            min-height: 56%;
            img{
               
                border-radius: 30px;
                max-width:280px;
                margin-left: 10%;
                max-height: 250px;
            }
        }
    }
    @media (max-width: 1130px){
        .background-comunic{
            min-width: 100%;
            min-height: 46%;
            font-size: 85%;
            img{
                width: 100%;
                border-radius: 90px;
                max-width:275px;
                margin-left: 7%;
                max-height: 250px;
            }
        }
        .background-poli{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 50%;
                margin-left: -10%;
            }
        }
        .background-espor{
            min-width: 80%;
            min-height: 20%;
            img{
                width: 59%;
                margin-left: -10%;
            }
        }
        .background-lite{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 53%;
                margin-left: -10%;
            }
        }
    }
    
    @media (max-width: 1090px){
        .background-comunic{
            min-width: 100%;
            min-height: 46%;
            font-size: 85%;
            img{
                width: 90%;
                border-radius: 1000px;
                max-width:265px;
                margin-left: 5%;
                max-height: 250px;
            }
        }
        .conteriner-primario{
            width: 50%;
            margin-top: -0.6%;   
            height: 75%;
            min-height: 50%;
         }
         .background-espor{
            min-width: 80%;
            min-height: 20%;
            img{
                width: 54%;
                margin-left: -10%;
            }
        }
        .background-poli{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 47%;
            }
        }
    }
    @media (max-width: 1038px){
        .conteriner-primario{
            width: 50%;
            margin-top: -1.1%;   
            height: 75%;
            min-height: 50%;
         }
        .background-lite{
            min-width: 80%;
            min-height: 50%;
            img{
                margin-left: -8%;
                width: 50%;
            }
        }
        .background-music{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 50%;

            }
        }

        .background-espor{
            min-width: 80%;
            min-height: 20%;
            img{
                width: 50%;
                margin-left: -10%;
            }
        }
        .background-poli{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 38%;
            }
        }
        .background-comunic{
            min-width: 100%;
            min-height: 46%;
            font-size: 85%;
            img{
                width: 58%;
                border-radius: 30px;
                max-width: 240px;
                margin-left: 8%;
                max-height: 210px;
            }
        }
         .background-reli{
            min-width: 50%;
            min-height: 30%;
            img{
                width: 50%;
                max-width: 143px ;
                max-height: 220px;
                margin-left: 5%;
            }
        }
        .background-cien{
            min-width: 80%;
            min-height: 4%;
            img{
                width: 38%;
                margin-left: 3%;
            }
        }
    }

    @media (max-width: 1020px){
       
    }

    @media (max-width: 1000px){
      
         .background-reli{
            min-width: 50%;
            min-height: 30%;
            img{
                width: 40%;
                max-width: 132px ;
                max-height: 200px;
                margin-left: 5%;
            }
        }

        .background-ativi{
            min-width: 80%;
            min-height: 20%;
            img{
                width: 37%;
            }
        }
    }
    @media (max-width: 980px){
        .background-comunic{
            min-width: 100%;
            min-height: 46%;
            font-size: 85%;
            img{
                width: 58%;
                border-radius: 30px;
                max-width: 240px;
                margin-left: 6%;
                max-height: 210px;
            }
        }
    }


    
    @media (max-width: 960px) {

        .background-comunic{
            min-width: 100%;
            min-height: 46%;
            font-size: 85%;
            img{
                width: 58%;
                border-radius: 30px;
                max-width: 240px;
                margin-left: 7%;
                max-height: 210px;
            }
        }

        .background-reli{
            min-width: 50%;
            min-height: 30%;
            img{
                width: 40%;
                max-width: 132px ;
                max-height: 180px;
                margin-left: 5%;
            }
        }

        .background-ativi{
            min-width: 80%;
            min-height: 20%;
            img{
                width: 36%;
            }
        }
    }
    
    @media (max-width: 955px){
        .background-comunic{
            min-width: 100%;
            min-height: 46%;
            font-size:75%;
            img{
                width: 58%;
                border-radius: 30px;
                max-width: 240px;
                margin-left: 4%;
                max-height: 210px;
            }
        }
    }

    @media (max-width: 920px) {
        .conteriner-secundario{
         
        margin-top: -2px;          
         }
         .conteriner-primario{
        
         }
       
         .background-comunic{
            min-width: 100%;
            min-height: 46%;
            font-size: 65%;
            img{
                width: 58%;
                border-radius: 30px;
                max-width: 240px;
                margin-left: 0%;
                max-height: 210px;
            }
        }
      
         .background-reli{
            min-width: 40%;
            min-height: 30%;
            img{
                width: 30px;
                height: 170px;
                max-width: 28px ;
                max-height: 10px;
                margin-left: 1%;
            }
        }
        .background-espor{
            min-width: 80%;
            min-height: 20%;
            img{
                width: 50%;
                margin-left: -10%;
            }
        }
        .background-reli{
            min-width: 50%;
            min-height: 30%;
            img{
                width: 50%;
                max-width: 143px ;
                max-height: 220px;
                margin-left: 5%;
            }
        }
        .background-ativi{
            min-width: 80%;
            min-height: 20%;
            img{
                width: 37%;
                margin-left: -20px;
            }
        }
        .background-poli{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 40%;
            }
        }
        .background-lite{
            min-width: 80%;
            min-height: 50%;
            img{
                margin-left: -8%;
                width: 51%;
            }
        }
    }

    @media (max-width: 900px){
        .conteriner-secundario{
         
            margin-top: -4px;          
             }
             .background-lite{
                min-width: 80%;
                min-height: 50%;
                img{
                    margin-left: -12%;
                    width: 51%;
                }
            }
    }


    @media (max-width: 900px){
        .conteriner-secundario{
         
            margin-top: -4px;          
             }
    }



    @media (max-width: 900px){
        .conteriner-secundario{
         
            margin-top: -4px;          
             }
    }

    @media (max-width: 850px){
        .conteriner-secundario{
            width: 117%;
            height: 20%;
            margin-top: 0px;
        }
        .conteriner-primario{
            width: 120%;
        }
        .background-comunic{
            min-width: 100%;
            min-height: 46%;
            font-size:55%;
            img{
                width:60%;
                border-radius: 30px;
                max-width: 240px;
                margin-left:-5%;
                max-height: 210px;
            }
        }
        .background-reli{
            min-width: 50%;
            min-height: 30%;
            img{
                width: 40%;
                max-width: 143px ;
                max-height: 150px;
                margin-left: 5%;
            }
        }
        .background-lite{
            min-width: 80%;
            min-height: 50%;
            img{
                margin-left: -12%;
                width: 51%;
            }
        }
        
    }


    @media (max-width: 800px){
        
    }


    


    //@media (max-width: 768px){
     //   
    //}
    @media (max-width: 580px) {
        .conteiner-principal{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .conteriner-secundario{
            margin: 0px 0px 80px 0px;
        }
        .conteriner-primario{
            margin: 0px 0px 0px;
        }

        .background-comunic{
            min-height: 46%;
            font-size: 85%;
            img{
                width: 68%;
                border-radius: 30px;
                max-width: 240px;
                margin-left: 2%;
                max-height: 210px;
            }
        }
        .background-ativi{
            min-width: 100%;
            min-height: 100%;
            img{
                width: 35%;
                margin-left:-3%;
            }
        }

        .conteriner-secundario{
            width: 70%;
            
            height: 60%;
            min-height: 50%;
         }
         .conteriner-primario{
            width: 70%;
            height: 60%;
            min-height: 50%;
         }
        
        .background-lite{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 53%;
            }
        }
        .background-poli{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 50%;
            }
        }
        .background-reli{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 45%;
                max-width: 150% ;
                max-height: 236px;
                margin-left: 2%;
            }
        }
        .background-espor{
            min-width: 80%;
            min-height: 20%;
            img{
                width: 59%;
                margin-left: -5%;
            }
        }
        .background-cien{
            min-width: 80%;
            min-height: 4%;
            img{
                width: 43%;
                margin-left: 3%;
            }
        }
        .background-music{
            min-width: 80%;
            min-height: 50%;
            img{
                width: 54%;

            }
        }
    }


    //@media (max-width: 480px) {
    //    
    //}
    //
    //@media (max-width: 320px){
    //
    //}
    
}