@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Inter:wght@400;800&family=Montserrat:wght@500;700&display=swap');


.Home{

    margin-top: -8px;
    margin-left: -8px;

    .img{
        margin-top: 9px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        max-width: 250px;
        max-height: 245px;
    }
    .bloco-in{
        width: 150px;
    }

    .img-sil{
        width: 200px;
        height: 200px;
        transform: scaleX(-1);
    }
    .divisão{
        width: 100%;
        height: 100%;
        max-width: 1100px;
        max-height: 500px;
        display: flex;
        align-items: center;
        justify-self: center;
    }

    footer{
        margin-bottom: -20px;
    }

    .conteiner-principal{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .conteriner-secundario{
        margin: 0px 60px 125px 60px;
    }
    .conteriner-primario{
        margin: 0px 60px 125px 60px;
    }

    a{
        color: #fff;
        font-family: 'Comfortaa', cursive;
        text-decoration: none;
    }

    h2{
        width: 100%;
        max-width: 225px;
        margin-left: 20px;
        font-style: normal;
        font-weight: 600;
    }

    .background-comunic{
        display: flex;
        align-items: center;
        width: 500px;
        height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #FF0000;
        background: linear-gradient(90deg, #FF0000 47.33%, #fff 112.38%);
        //background: linear-gradient(180deg, #F8EA6D 0%, #FF5C00 169.04%);
    }

    .background-music{
        display: flex;
        align-items: center;
        width: 500px;
        height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #FFD700;
        background: linear-gradient(90deg, #FFD700 47.33%, #fff 112.38%);
        //background: linear-gradient(180deg, #3F3F3F 0%, #777777 143.46%);
    }

    .background-cien{
        display: flex;
        align-items: center;
        width: 500px;
        height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #1CF84C;
        background: linear-gradient(90deg, #1CF84C 47.33%, #fff 112.38%);
        //background: linear-gradient(180deg, #8CCCF0 0%, #008000 108.08%);
    }

    .background-espor{
        display: flex;
        align-items: center;
        width: 500px;
        height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #0000FF;
        background: linear-gradient(90deg, #0000FF 47.33%, #fff 112.38%);
        //background: linear-gradient(180.02deg, #00803B 10.38%, #0047FF 248.76%);
    }

    .background-reli{
        display: flex;
        align-items: center;
        width: 500px;
        height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #009B9B;
        background: linear-gradient(90deg, #009B9B 47.33%, #fff 112.38%);
        //background: linear-gradient(180.02deg, #0000FF -24.01%, #F20000 120.16%);
    }

    .background-ativi{
        display: flex;
        align-items: center;
        width: 500px;
        height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #C71FC7;
        background: linear-gradient(90deg, #C71FC7 47.33%, #fff 112.38%);
        //background: linear-gradient(180.77deg, #9D3232 -6.43%, rgba(189, 31, 31, 0.9375) -6.42%, #000000 144.24%)
    }

    .background-poli{
        display: flex;
        align-items: center;
        width: 500px;
        height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        background-color: #F6163D;
        background: linear-gradient(90deg, #F6163D 47.33%, #fff 112.38%);
        //background: linear-gradient(180deg, rgba(0, 128, 59, 0.93) 14.8%, rgba(255, 215, 0, 0.93) 124.37%);
    }

    .background-lite{
        display: flex;
        align-items: center;
        width: 500px;
        height: 260px;
        border-radius: 20px;
        margin-top: 66px;
        //background-color: #FF6B00;
        background: linear-gradient(90deg, #FF6B00 47.33%, #fff 112.38%);
        //background: linear-gradient(180deg, rgba(157, 50, 50, 0.93) 47.33%, rgba(252, 0, 0, 0.93) 112.38%);
    }

    @media (max-width: 1218px){

        
        .bloco-in{
            width: 130px;
        }

        .background-music{
            width: 450px;
            height: 220px;
            img{
                width: 205px;
                height: 200px;
            }
        }

        .background-lite{
            width: 450px;
            height: 220px;
            img{
                width: 205px;
                height: 200px;
            }
        }

        .background-ativi{
            width: 450px;
            height: 220px;
            img{
                width: 205px;
                height: 200px;
            }
        }
        .background-cien{
            width: 450px;
            height: 220px;
            img{
                width: 205px;
                height: 200px;
            }
        }
        .background-espor{
            width: 450px;
            height: 220px;
            img{
                width: 205px;
                height: 200px;
            }
        }
        .background-comunic{
            width: 450px;
            height: 220px;
            img{
                width: 205px;
                height: 200px;
            }
        }
        .background-reli{
            width: 450px;
            height: 220px;
            img{
                width: 205px;
                height: 200px;
            }
        }
        
        .background-poli{
            width: 450px;
            height: 220px;
            img{
                width: 205px;
                height: 200px;
            }
        }
    }

    
    @media (max-width: 1218px){
        .bloco-in{
            width: 100px;
        }

        .background-music{
            width: 400px;
            height: 220px;
            img{
                width: 205px;
                height: 200px;
            }
        }

        .background-lite{
            width: 400px;
            height: 200px;
            img{
                width: 180px;
                height: 200px;
            }
        }

        .background-ativi{
            width: 400px;
            height: 200px;
            img{
                width: 205px;
                height: 200px;
            }
        }
        .background-cien{
            width: 400px;
            height: 200px;
            img{
                width: 205px;
                height: 190px;
            }
        }
        .background-espor{
            width: 400px;
            height: 200px;
            img{
                width: 170px;
                height: 190px;
            }
        }
        .background-comunic{
            width: 400px;
            height: 200px;
            
            img{
                margin-left: -25px;
                width: 180px;
                height: 190px;
            }
        }
        .background-reli{
            width: 400px;
            height: 200px;
            img{
                width: 205px;
                height: 200px;
            }
        }
        
        .background-poli{
            width: 400px;
            height: 200px;
            img{
                width: 205px;
                height: 200px;
            }
        }           
    }

    @media (max-width: 995px){
        .bloco-in{
            width: 60px;
        }

        .background-music{
            width: 370px;
            height: 200px;
            img{
                width: 205px;
                height: 200px;
            }
        }

        .background-lite{
            width: 370px;
            height: 200px;
            img{
                margin-left: -50px;
                width: 180px;
                height:190px;
            }
        }

        .background-ativi{
            width: 370px;
            height: 200px;
            img{
                width: 205px;
                height: 200px;
            }
        }
        .background-cien{
            width: 370px;
            height: 200px;
            img{
                width: 220px;
                height: 200px;
                margin-top: -4px;
            }
        }
        .background-espor{
            width: 370px;
            height: 200px;
            img{
                margin-left: -50px;
                width: 205px;
                height: 190px;
            }
        }
        .background-comunic{
            width: 370px;
            height: 200px;
            img{
                margin-left: -50px;
                width: 180px;
                height: 190px;
            }
        }
        .background-reli{
            width: 370px;
            height: 200px;
            img{
                width: 205px;
                height: 200px;
            }
        }
        
        .background-poli{
            width: 370px;
            height: 200px;
            img{
                width: 205px;
                height: 190px;
            }
        }           
    }
    

    @media (max-width: 890px){
        .bloco-in{
            width: 40px;
        }

        .background-music{
            width: 340px;
            height: 180px;
            img{
                width: 185px;
                height: 170px;
            }
        }

        .background-lite{
            width: 340px;
            height: 180px;
            img{
                width: 185px;
                height: 170px;
            }
        }

        .background-ativi{
            width: 340px;
            height: 180px;
            img{
                width: 185px;
                height: 170px;
            }
        }
        .background-cien{
            width: 340px;
            height: 180px;
            img{
                width: 185px;
                height: 170px;
            }
        }
        .background-espor{
            width: 340px;
            height: 180px;
            img{
                width: 185px;
                height: 170px;
            }
        }
        .background-comunic{
            width: 340px;
            height: 180px;
            img{
                width: 185px;
                height: 170px;
            }
        }
        .background-reli{
            width: 340px;
            height: 180px;
            img{
                width: 185px;
                height: 170px;
            }
        }
        
        .background-poli{
            width: 340px;
            height: 180px;
            img{
                width: 185px;
                height: 170px;
            }
        }           
    }

    @media (max-width: 805px){
        .bloco-in{
            width: 35px;
        }

        .background-music{
            width: 300px;
            height: 140px;
            img{
                width: 170px;
                height: 135px;
            }
        }

        .background-lite{
            width: 300px;
            height: 140px;
            img{
                width: 170px;
                height: 135px;
            }
        }

        .background-ativi{
            width: 300px;
            height: 140px;
            img{
                width: 170px;
                height: 135px;
            }
        }
        .background-cien{
            width: 300px;
            height: 140px;
            img{
                width: 170px;
                height: 135px;
            }
        }
        .background-espor{
            width: 300px;
            height: 140px;
            img{
                width: 170px;
                height: 135px;
            }
        }
        .background-comunic{
            width: 300px;
            height: 140px;
            img{
                margin-left: -70px;
                width: 160px;
                height: 125px;
            }
        }
        .background-reli{
            width: 300px;
            height: 140px;
            img{
                width: 170px;
                height: 135px;
            }
        }
        
        .background-poli{
            width: 300px;
            height: 140px;
            img{
                width: 170px;
                height: 135px;
            }
        }           
    }

    @media (max-width: 715px){
        .bloco-in{
            width: 25px;
        }

        .background-music{
            width: 280px;
            height: 120px;
            img{
                width: 150px;
                height: 110px;
            }
        }

        .background-lite{
            width: 280px;
            height: 120px;
            img{
                width: 150px;
                height: 110px;
            }
        }

        .background-ativi{
            width: 280px;
            height: 120px;
            img{
                width: 150px;
                height: 110px;
            }
        }
        .background-cien{
            width: 280px;
            height: 120px;
            img{
                width: 150px;
                height: 110px;
            }
        }
        .background-espor{
            width: 280px;
            height: 120px;
            img{
                width: 150px;
                height: 110px;
            }
        }
        .background-comunic{
            width: 280px;
            height: 120px;
            img{
                width: 150px;
                height: 110px;
            }
        }
        .background-reli{
            width: 280px;
            height: 120px;
            img{
                width: 150px;
                height: 110px;
            }
        }
        
        .background-poli{
            width: 280px;
            height: 120px;
            img{
                width: 150px;
                height: 110px;
            }
        }           
    }

    @media (max-width: 665px){
        
        .bloco-in{
            width: 0px;
        }
        .divisão{
            font-size: 300%;
            display:block;
            align-items: center;
            justify-content: center;
        }

        .background-music{
            width: 450px;
            height: 220px;
            img{
                width: 250px;
                height: 220px;
            }
        }

        .background-lite{
            width: 450px;
            height: 220px;
            img{
                width: 250px;
                height: 210px;
            }
        }

        .background-ativi{
            width: 450px;
            height: 220px;
            img{
                width: 250px;
                height: 210px;
            }
        }
        .background-cien{
            width: 450px;
            height: 220px;
            img{
                width: 250px;
                height: 220px;
            }
        }
        .background-espor{
            width: 450px;
            height: 220px;
            img{
                width: 260px;
                height: 210px;
            }
        }
        .background-comunic{
            width: 450px;
            height: 220px;
            img{
                margin-left: -20px;
                margin-top: -2px;
                width: 250px;
                height: 220px;
            }
        }
        .background-reli{
            width: 450px;
            height: 220px;
            img{
                width: 250px;
                height: 220px;
            }
        }
        
        .background-poli{
            width: 450px;
            height: 220px;
            img{
                margin-top: -1.5px;
                width: 250px;
                height: 220px;
            }
        }
        
    }

    @media (max-width: 500px){
        .background-music{
            width: 400px;
            height: 200px;
            img{
                width: 230px;
                height: 190px;
            }
        }

        .background-lite{
            width: 400px;
            height: 200px;
            img{
                width: 230px;
                height: 190px;
            }
        }

        .background-ativi{
            width: 400px;
            height: 200px;
            img{
                width: 230px;
                height: 190px;
            }
        }
        .background-cien{
            width: 400px;
            height: 200px;
            img{
                width: 230px;
                height: 190px;
            }
        }
        .background-espor{
            width: 400px;
            height: 200px;
            img{
                width: 230px;
                height: 190px;
            }
        }
        .background-comunic{
            width: 400px;
            height: 200px;
            img{
                margin-left: -40px;
                width: 230px;
                height: 190px;
            }
        }
        .background-reli{
            width: 400px;
            height: 200px;
            img{
                width: 230px;
                height: 190px;
            }
        }
        
        .background-poli{
            width: 400px;
            height: 200px;
            img{
                width: 230px;
                height: 190px;
            }
        }
        
    }

    @media (max-width: 440px){
        .background-music{
            width: 350px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }

        .background-lite{
            width: 350px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }

        .background-ativi{
            width: 350px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-cien{
            width: 350px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-espor{
            width: 350px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-comunic{
            width: 350px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-reli{
            width: 350px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        
        .background-poli{
            width: 350px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        
    }

    @media (max-width: 360px){
        .divisão{
            font-size: 250%;
        }
        .background-music{
            width: 310px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }

        .background-lite{
            width: 310px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }

        .background-ativi{
            width: 310px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-cien{
            width: 310px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-espor{
            width: 310px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-comunic{
            width: 310px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-reli{
            width: 310px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        
        .background-poli{
            width: 310px;
            height: 170px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        
    }

    @media (max-width: 360px){
        .divisão{
            font-size: 250%;
        }
        .background-music{
            width: 300px;
            height: 160px;
            img{
                width: 200px;
                height: 160px;
            }
        }

        .background-lite{
            width: 300px;
            height: 160px;
            img{
                width: 200px;
                height: 160px;
            }
        }

        .background-ativi{
            width: 300px;
            height: 160px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-cien{
            width: 300px;
            height: 160px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-espor{
            width: 300px;
            height: 160px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-comunic{
            width: 300px;
            height: 160px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        .background-reli{
            width: 300px;
            height: 160px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        
        .background-poli{
            width: 300px;
            height: 160px;
            img{
                width: 200px;
                height: 160px;
            }
        }
        
    }

}