.rodape-{
    display: flex;
    width: 1351px;
    height: 370px;
    background-color: #FFF9BF;


    a{
        text-decoration: none;
    }

    .logo-local{
        height: 0px;
        margin: 35px 240px 0px 80px;
    }
    
    .logo
    {
        width: 220px;
        transform: scaleX(-1);
    }

    .titulo-roda
    {
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }
    
    .sub-roda{   
        color: #000000;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }

  
    .git-img{
        margin-top: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .git{
        margin-left: 10px;
        margin-right: 10px;
    }
    .git-k{
        text-decoration: none;
        width: 50px;
    }

    .conterne-rodap{
        display: flex;
        width: 0px;
    }
    
    .texto-roda
    {
        margin: 0px 120px 50px 0px;
    }
}